body{
    background-image: linear-gradient(to right top, #6bd1ae, #70d5b4, #75daba, #7adec0, #7fe2c6, #7ce3c9, #78e4cb, #75e5ce, #67e4cf, #56e3d0, #40e1d1, #1de0d3);

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(250, 251, 247);
    }